[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=6.0"
pytest-mock = "~=3.3"
pre-commit = "~=2.15"
aws-sam-cli = "~=1.35"
awscli = "~=1.22"

[requires]
python_version = "3.8"
