[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=6.0.1"
pytest-mock = "~=3.3.1"
pre-commit = "~=2.15.0"
aws-sam-cli = "~=1.35.0"
awscli = "~=1.22.5"

[requires]
python_version = "3.8"
